<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PayloadIdentifier</key>
	<string>com.thoughtworks.fuze.rooms.configuration</string>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>autopkg-git</string>
		<key>creation_date</key>
		<date>2017-03-20T14:49:22Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>fuze room configuration</string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string>SQ</string>
	<key>display_name</key>
	<string>Settings for China-Beijing-Sui´ Fuze Room</string>
	<key>installer_item_hash</key>
	<string>612a42b1f8fe87c83c4d86754d2e043c144b0c7e691baa830cd454b64031cd72</string>
	<key>installer_item_location</key>
	<string>fuze room profiles/China-Beijing-Sui´-1.0.mobileconfig</string>
	<key>installer_item_size</key>
	<integer>1</integer>
	<key>installer_type</key>
	<string>profile</string>
	<key>minimum_munki_version</key>
	<string>2.2</string>
	<key>minimum_os_version</key>
	<string>10.7</string>
	<key>name</key>
	<string>China-Beijing-Sui´.mobileconfig</string>
	<key>unattended_install</key>
	<true/>
	<key>unattended_uninstall</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_profile</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
