<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>autopkg-git</string>
		<key>creation_date</key>
		<date>2017-01-24T17:24:34Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Cecilia is an audio signal processing environment aimed at sound designers. Cecilia mangles sound in ways unheard of. Cecilia lets you create your own GUI using a simple syntax. Cecilia comes with many original built-in modules and presets for sound effects and synthesis.</string>
	<key>display_name</key>
	<string>Cecilia</string>
	<key>installer_item_hash</key>
	<string>2cce2fc3f9a48486f6106694f2bfe34f2cb55583bc16f1acc3e4878d37af7530</string>
	<key>installer_item_location</key>
	<string>apps/Cecilia/Cecilia5_5.2.1.dmg</string>
	<key>installer_item_size</key>
	<integer>30853</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.pythonmac.unspecified.Cecilia5</string>
			<key>CFBundleName</key>
			<string>Cecilia5</string>
			<key>CFBundleShortVersionString</key>
			<string>5.2.1</string>
			<key>CFBundleVersion</key>
			<string>5.2.1</string>
			<key>path</key>
			<string>/Applications/Cecilia5.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Cecilia5.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Cecilia</string>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>5.2.1</string>
</dict>
</plist>
