<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>autopkg-git</string>
		<key>creation_date</key>
		<date>2017-01-16T19:26:23Z</date>
		<key>munki_version</key>
		<string>2.8.2.2855</string>
		<key>os_version</key>
		<string>10.12.2</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Adobe Acrobat Pro.app</string>
		<string>Adobe Reader.app</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>Office catalog</string>
		<string>Go Catalog</string>
	</array>
	<key>description</key>
	<string>Adobe® Reader® is the global standard for reliably viewing, printing, and commenting on PDF documents. It's the only PDF file viewer that can open and interact with all types of PDF content, including forms and multimedia.</string>
	<key>display_name</key>
	<string>Adobe Reader</string>
	<key>installed_size</key>
	<integer>414943</integer>
	<key>installer_item_hash</key>
	<string>6aeb93bdd0da7662721e8a81493aef8bd5610d7386ac359bb35f089fbe0ee391</string>
	<key>installer_item_location</key>
	<string>apps/Adobe/AdobeReader-11.0.10.dmg</string>
	<key>installer_item_size</key>
	<integer>104870</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.adobe.Reader</string>
			<key>CFBundleName</key>
			<string>Adobe Reader</string>
			<key>CFBundleShortVersionString</key>
			<string>11.0.10</string>
			<key>CFBundleVersion</key>
			<string>11.0.10</string>
			<key>minosversion</key>
			<string>10.4.3</string>
			<key>path</key>
			<string>/Applications/Adobe Reader.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleShortVersionString</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.6.4</string>
	<key>name</key>
	<string>AdobeReader</string>
	<key>preinstall_script</key>
	<string>#!/bin/sh
if [ -e "/Applications/Adobe Reader.app" ]; then
rm -r "/Applications/Adobe Reader.app"
fi
exit 0
            </string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>405567</integer>
			<key>packageid</key>
			<string>com.adobe.acrobat.reader.11010.reader.app.pkg.en_US</string>
			<key>version</key>
			<string>11.0.10</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1148</integer>
			<key>packageid</key>
			<string>com.adobe.acrobat.reader.11010.reader.browser.pkg.en_US</string>
			<key>version</key>
			<string>11.0.10</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>8228</integer>
			<key>packageid</key>
			<string>com.adobe.acrobat.reader.11010.reader.appsupport.pkg.en_US</string>
			<key>version</key>
			<string>11.0.10</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>11.0.10</string>
</dict>
</plist>
